
*{
    margin:0;
    padding: 0;
font-family:  sans-serif;
}

#pageBody{
    background-color: #002A68;
    height: 100vh;
}


#pageheader{
    text-align: center;
    padding: 50px;
   

}

h1 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700px; 
    font-size: 56px;
    line-height: 33px;
    color: white;
     
}

input[type=text], [type=email], [type=password], [type=tel]{
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 250px;
    height: 26px;
    background-color: #F2F2F2;
}

input[type=button]{
    width: 250px;
    background-color: #2D7FF9;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    height: 30px;
}

a{
    width: 150px;
    background-color: #2D7FF9;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    height: 30px;
    text-decoration: none;
    padding: 8px 28px;
}

#fullName{
    margin-top: 20px
}

#form {
    background-color: #F5F5F5;
    width: 65%;
margin: 0 auto;
border-radius: 8px;
height: 78%;

}

label{
    font-family: 'Mulish';
    font-weight: 650;
font-size: 15px;
line-height: 15px;
color: #333333;
}

#formElements{
    padding: 20px;
}

fieldset{
    display: flex;
     margin-left: 80px; 
    border: none;
    justify-content: space-between;

}

p{
    color: #757575;
    font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
}

h2{
    font-weight: 700;
font-size: 22px;
line-height: 28px;

}

img{
    width: 19em;
    height: 29.8em;
    border-radius: 8px;
}

.message{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

